html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.header,.card{
	transition: 2s;
	
}
.header:hover,.card:hover{
	transform: scale(1.05);
}
.micbutton,.btn{
	transition: 0.5s;
	border-radius: 50px;
}
.micbutton:hover,.btn:hover{
	transform: scale(1.05);
	border-radius: 20px;
}
/*@media screen and (max-width: 600px) {
	.display-1{
		font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","sans-serif","Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
		font-size:12px; 
	}
}*/